.todoForm {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #eee;
  text-align: center;
}

.todoForm label {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
}

.todoForm input,
.todoForm textarea,
.todoForm select {
  display: block;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  font: inherit;
  margin: auto;
}
