.todoForm {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #eee;
  text-align: center;
}

.todoForm label {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
}

.todoForm input,
.todoForm textarea,
.todoForm select {
  display: block;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  font: inherit;
  margin: auto;
}

.todoForm button {
  margin: 5px 5px;
  padding: 10px;
  font: inherit;
  border: 1px solid lightgreen;
  background-color: transparent;
  color: lightgreen;
  cursor: pointer;
}

.todoForm button.Cancel {
  border: 1px solid red;
  color: red;
}

.todoForm button:hover,
.todoForm button:active {
  color: white;
  background-color: lightgreen;
}

.todoForm button.Cancel:hover,
.todoForm button.Cancel:active {
  color: white;
  background-color: red;
}
